<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>Startseite</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="split-container">

<div class="box">
<h2>Klient*innen</h2>

<form method="POST">
<input type="text" name="client_id" placeholder="Client-ID eingeben" required>
<button type="submit">Weiter</button>
</form>
</div>


<div class="box">
<h2>Fachkräfte</h2>

<form method="POST">
<input type="text" name="username" placeholder="Benutzername" required>
<input type="password" name="password" placeholder="Passwort" required>
<button type="submit">Login</button>
</form>
</div>

</div>

</body>
</html>