<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<title>Termine</title>


<head>
    <meta charset="UTF-8">
    <title>Termine</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/theme.js"></script>
</head>

<body>

<div class="container">

<h1>Termine</h1>

<table>

<tr>
    <th>Client-ID</th>
    <th>Datum</th>
    <th>Ort</th>
    <th>Fachkraft</th>
    <th>Aktionen</th>
</tr>

{% for row in data %}

<tr>

    <td>{{ row["client_id"] }}</td>
    <td>{{ row["date"] }}</td>
    <td>{{ row["location"] }}</td>
    <td>{{ row["staff"] }}</td>

    <td>

    {% if session["role"] == "admin" %}

    <div class="menu-container">

        <button class="menu-btn" onclick="toggleMenu(this)">
            ⋮
        </button>

        <div class="menu-dropdown">

            <a href="{{ url_for('edit_client_page', client_id=row['client_id']) }}">
                Bearbeiten
            </a>

            <form method="POST"
                  action="/delete_client/{{ row['client_id'] }}"
                  onsubmit="return confirmDelete()">

                <button type="submit" class="delete-btn">
                    Löschen
                </button>

            </form>

        </div>

    </div>

    {% else %}
        -
    {% endif %}

    </td>

</tr>

{% endfor %}

</table>

<a href="/dashboard"><button>Zurück</button></a>

</div>

</body>
</html>